@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    margin-bottom: 2rem;
    margin-top: 25rem;
    font-size: 4rem;
    font-weight: 700;
    word-spacing: 0.2rem;
}

h2 {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 5%;
    word-spacing: 0.2rem;
}

header {
    background-color: transparent;
    height: 3em;
}

.nameColor {
    color: rgb(154, 31, 64);
    word-spacing: 0.2rem;
    padding-left: 1.1rem;
}

span {
    display: block;
}

.navLocation {
    display: flex;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.navLocation a {
    color: black;
    text-decoration: none;
}

.navLocation a:hover {
    text-decoration: underline;
    color: rgb(154, 31, 64)
}

ul li {
    margin-right: 2.5rem;
}

.projectsPage {
    margin-top: 35rem;
    background-color: rgb(154, 31, 64);
}

h3 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    color: white;
    padding-top: 4rem;
}

.projectText {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-top: 25rem;
    text-align: center;
}
.cardContainer {
    display:flex;
    justify-content: center;
    margin-top: 6rem;
    justify-content: space-around;
}

.card1 {
    display: flex;
    border: 2px solid white;
    height: 10rem;
}
.card2 {
    display: flex;
    border: 2px solid white;
}
.card3 {
    display: flex;
    border: 2px solid white;
}