@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    margin-bottom: 2rem;
    margin-top: 25rem;
    font-size: 4rem;
    font-weight: 700;
    word-spacing: 0.2rem;
}

h2 {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 5%;
    word-spacing: 0.2rem;
    margin-bottom: 2rem;
}

header {
    background-color: transparent;
    height: 3em;
}

.nameColor {
    color: rgb(154, 31, 64);
    word-spacing: 0.2rem;
}

.navLocation {
    display: flex;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.navLocation a {
    color: black;
    text-decoration: none;
}

.navLocation a:hover {
    text-decoration: underline;
    color: rgb(154, 31, 64)
}

ul li {
    margin-right: 2.5rem;
}

.projectsPage {
    margin-top: 30rem;
    background-color: rgb(154, 31, 64);
}

.projectPageTitle {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    padding-top: 2rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: center;
    margin-top: 6rem;
    padding-bottom: 10rem;
}

.card1 {
    border: 4px solid white;
    border-radius: 10px;
    margin: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

.projectImage {
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 2rem;
}

.projectInfo {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.cardTitle {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.3rem;
}
footer {
    background-color: rgb(154, 31, 64);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-top: 10rem;
    font-weight: 300;
}

.button {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 6rem;
    background-color: rgb(154, 31, 64);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.button2 {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 1rem;
    background-color: rgb(154, 31, 64);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.cardButton {
    text-decoration: none;
    color: rgb(154, 31, 64);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.contactMePage {
    background-color: white;
}

.contactMeTitle {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(154, 31, 64);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 2rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color:rgb(154, 31, 64);
    font-weight: 500;
    align-items: center;
    margin-top: 2rem;
}

input[type=text] {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
  }

input[type=submit] {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 0.5rem;
    border-radius: 1rem;
    color:rgb(154, 31, 64);
    border: 2px solid rgb(154, 31, 64);

}

@media (max-width: 600px) {
    .cardContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);;
    }

    .introTitle > span {
        display: block;
    }
}
