@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 4rem;
    font-weight: 700;
    word-spacing: 0.2rem;
}

h2 {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 5%;
    word-spacing: 0.2rem;
}

header {
    background-color: rgb(245, 245, 245);
    height: 3em;
}

.nameColor {
    color: rgb(154, 31, 64);
    word-spacing: 0.2rem;
    padding-left: 1.1rem;
}